:root {
    --primary: #464758;
    --light: #ffffff;
    --grey: #efefef
}

body{
    overflow: hidden;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 300;
    color: var(--primary);
}
.btn-warning{
    color: white;
    width:40%
    text-align: center;

}

a:hover {
    text-decoration: none;
}

.bg-primary {background-color: var(--primary)!important;}
.bg-light {background-color: var(--light)!important;}

#sidebar-container {
    min-height: 100vh;
}

#sidebar-container {
    padding: .875rem 1.25rem;
}

#sidebar-container .menu {
    width: 18rem;
}

.btn-search {
    right: 5px;
}


table.dataTable thead .sorting:after,
table.dataTable thead .sorting:before,
table.dataTable thead .sorting_asc:after,
table.dataTable thead .sorting_asc:before,
table.dataTable thead .sorting_asc_disabled:after,
table.dataTable thead .sorting_asc_disabled:before,
table.dataTable thead .sorting_desc:after,
table.dataTable thead .sorting_desc:before,
table.dataTable thead .sorting_desc_disabled:after,
table.dataTable thead .sorting_desc_disabled:before {
  bottom: .5em;
}

